@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin:0;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 35, 35);
}

#container h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#form_holder input {
    font-family: 'Poppins', sans-serif;
}

#form_holder button {
    font-family: 'Poppins', sans-serif;
    color: rgb(255 255 255);
    background-color: rgb(48 92 248);
    border-color: rgb(48 92 248);
    border-radius: 5px;
}

#wallpaper_grid {
    width: 90%;
    height: 100vh;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallpaper {
    padding-right: 1%;
    padding-left: 1%;
    width: 35%;
    height: 35vh;
}

.wallpaper img{
    width: 100%;
    border-radius: 1vh;
    height: 30vh;
    object-fit: cover;
}

footer {
    position: fixed;
    width: 100%;
    height: 6vh;
    bottom: 0;
    background-color: rgb(48,92,248);
    display: flex;
    justify-content:center;
    align-items:center;
}