@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin:0;
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #131010;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
}

header button {
    background-color: white;
    border-radius: 0px;
    width: 4vh;
    font-family: 'Montserrat', sans-serif;   
    border: none;
    background-color: #131010;
    transition: 0.5s;
    color: white;
    -webkit-app-region: none;
}

header button:hover {
    transition: 0.5s;
    background-color: #221d1d;
    cursor: pointer;
}


#prompt {
    position: absolute;
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.308);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#message {
    background-color: #fff;
    width: 30%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
}

#container {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #231F20;
}

#container span {
    width: 90%;
    padding: 0.5%;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#container h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#form_holder input {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    transition: 0.2s;
}

#form_holder input:focus {
    outline: none;
    background-color: #d4d4d4;
    font-weight: bold;
    transition: 0.2s;
}

#return_default {
    background-color: #CD113B !important;
    border-color: #CD113B !important;
}

#form_holder button {
    font-family: 'Poppins', sans-serif;
    color: rgb(255 255 255);
    background-color: rgb(48 92 248);
    border-color: rgb(48 92 248);
    border-radius: 5px;
    transition: 0.5s;
}

#form_holder button:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: translateY(-0.5em);
    color: rgb(0, 0, 0);
}

#wallpaper_grid {
    height: 70vh;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallpaper {
    padding-right: 1%;
    padding-left: 1%;
    width: 35%;
    height: 35vh;
    transition: 0.5s;
}

.wallpaper button {
    background-color: #231F20;
    border: none;
}

.wallpaper:hover {
    transition: 0.5s;
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.wallpaper img{
    width: 100%;
    border-radius: 1vh;
    height: 30vh;
    object-fit: cover;
}

.wallpaper img:hover {
    cursor: pointer;
}

footer {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 100%;
    height: 6vh;
    bottom: 0;
    background-color: #BB4430;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 2.5vh;
}

footer button {
    background-color: #BB4430;
    font-size: 3vh;
    padding-left: 1%;
    padding-right: 1%;
    color: black;
    font-family: 'Poppins', sans-serif;
    color: rgb(255 255 255);
    border: none;  
    transition: 0.5s;
}

footer button:nth-child(1):hover {
    color: black;
    transform: translateX(-0.2em);
    transition: 0.5s;
    cursor: pointer;
}

footer button:nth-child(3):hover {
    color: black;
    transform: translateX(0.2em);
    transition: 0.5s;
    cursor: pointer;
}